.main_content {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.main_content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.video_container {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center; /* 이건 그대로 두고 */
    align-items: flex-start; /* 위로 붙임 */
    overflow: hidden;
}

.video_player {
    height: 60vh;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 2.5rem;
    border: 2px rgba(255, 255, 255, 0.7) solid;
}

.widthVideo {
    width: 50rem;
}

.heightVideo {
    height: 34rem;
}

.video_side_buttons_wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 17.5rem;
    left: 1rem;
}

.video_side_buttons {
    cursor: pointer;
    position: relative;
    top: 4rem;
    left: 0;
    width: 2rem;
}

.main_comment_wrapper {
    display: none;
    position: relative;
    top: 5rem;
    left: 2rem;
    border: 2px solid red;
    max-width: 20rem;
    min-width: 20rem;
}
