html, body {
    margin: 0;
    padding-top: 1rem;
    overflow: hidden;
    background: #121212;
    color: rgba(255, 255, 255, 0.87);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    padding: 1rem 1.25rem;
}

header div img {
    padding: 0 0.5rem;
}

header a {
    text-decoration: none;
    outline: none;
}

.header_icon {
    width: 2rem;
}

.main_container {
    display: flex;
    min-height: 78vh;
}

.sidebar {
    padding: 2.5rem;
    overflow: auto;
}

.main_content {
    flex: 1;
    /*
        flex-grow: 1; -> 여유 공간이 있으면 다른 요소들과 비율에 따라 공간을 나눠가짐 (값이 클수록 더 많이 차지함)
        flex-shrink: 1; -> 공간이 부족할 떄 줄어들 수 있음
        flex-basis: 0%; -> 본 너비를 0으로 설정하고, 전체 공간을 나누는 데에만 집중함
        즉 flex: 1은 부모 컨테이너의 남은 공간을 형제 요소들과 똑같이 나눠 갖겠다는 의미.
    */
    padding: 1.5rem;
    min-width: 0;
}

.main_content_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#gamecut_logo {
    margin-left: 4rem;
    width: 12.5rem;
}

.sidebar_icons {
    margin-left: 1.5rem;
    width: 2.5rem;
    padding: 0.5rem;
}

.footer_hr {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    height: 1px; /* 두께 */
    background-color: rgba(255, 255, 255, 0.2); /* 연한 흰색 선 */
    margin: 2rem 0; /* 위아래 여백 */
    width: 100%;
}

footer {
    position: fixed;
    top: 96.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}